.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
  justify-content: space-between; /* Push bottom elements down */
  min-height: 80vh;
  width: 500px;
  box-sizing: border-box;
  background-color: white;
}

.result-type {
  color: #004d00;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.result-title {
  color: #004d00; /* Green */
  font-size: 3em;
  margin-bottom: 30px;
}

.result-image {
  margin-bottom: 30px;
}

.result-image img {
  max-width: 200px; /* Adjust as needed */
  height: auto;
}

.score-intro {
  color: #004d00;
  font-size: 1.1em;
  line-height: 1.4;
}

.score {
  color: #004d00;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 10px;
}

.button-container {
  margin-bottom: 30px;
}

.next-button {
  background-color: #016f00; /* Green */
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #004d00; /* Darker shade of green on hover */
}

.logo-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo-image-small {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 5px;
}

.logo-text-bottom {
  color: #016f00; /* Green */
  font-size: 1em;
}

img {
  border-radius: 10px;
}

/* Media query for tablets (max-width: 768px) */
@media (max-width: 768px) {
  .results-container {
    padding: 20px;
    width: 350px;
  }
  .result-title {
    font-size: 2.5em;
  }
  .result-image img {
    max-width: 150px;
  }
  .score {
    font-size: 3em;
  }
  .next-button {
    padding: 10px 30px;
    font-size: 1em;
  }
  .logo-image-small {
    width: 40px;
  }
}

/* Media query for phones (max-width: 480px) */
@media (max-width: 480px) {
  .results-container {
    padding: 10px;
    width: 300px;
  }
  .result-title {
    font-size: 2em;
  }
  .result-image img {
    max-width: 120px;
  }
  .score {
    font-size: 2.5em;
  }
  .next-button {
    padding: 8px 25px;
    font-size: 0.9em;
  }
  .logo-image-small {
    width: 30px;
  }
}

/* Media query for iPhone SE (max-width: 320px) */
@media (max-width: 320px) {
  .results-container {
    padding: 5px;
    width: 250px;
  }
  .result-title {
    font-size: 1.5em;
  }
  .result-image img {
    max-width: 100px;
  }
  .score {
    font-size: 2em;
  }
  .next-button {
    padding: 5px 20px;
    font-size: 0.8em;
  }
  .logo-image-small {
    width: 25px;
  }
}
